<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/24dacea17b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="register-all">
      <!-- left half the register -->
      <div class="register">
        <div class="registerone">
          <!-- Header part -->
          <div class="reg-head">
            <div>
              <img src="images\path.png" alt="Back button" />
              <spam>Go Back</spam>
            </div>
            <div>
              <p>Have an account?<a class="sign-in">Sign In</a></p>
            </div>
          </div>
          <!-- Sign up title -->
          <div class="sign-head">
            <h2>Sign up to Brainalityca</h2>
            <p>Sign up on the internal platform</p>
          </div>
          <!-- starting of input form -->
          <form action="submit">
            <input class="input-box" type="text" value="First Name" />
            <input class="input-box highlight" type="text" value="Last Name" />
            <input class="input-box" type="email" value="Email Address" />
            <input class="input-box" type="password" value="Password" />
            <input type="checkbox" /><span>I have read the <a class="sign-in">Terms and Conditions.</a></span>
            <input class="input-box signup-button" type="button" value="SIGN  UP NOW" />
          </form>
        </div>
      </div>

      <!-- Right half of the register -->

      <div class="registertwo">
        <div class="top-p">
          <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life.</p>
          <div>
            <img class="oval-p" src="images\oval-p.png" alt="" />
          </div>
          <!-- Profile name and image -->
          <div class="oval-name">
            <div class="oval-titleone">Takamaru Ayako</div>
            <div class="oval-titletwo">Manager an inVision</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
